python==3.9
torch==1.10.0
transformers==4.13.0
pydub==0.25.1
soundfile==0.11.0
numpy==1.21.5
torchvision==0.11.1
torchaudio==0.10.0
tokenizers==0.11.0
encodec==0.0.6
langid==1.1.6
wget==3.2
unidecode==1.3.2
pyopenjtalk-prebuilt==1.1.2
pypinyin==0.44.0
inflect==5.3.0
cn2an==2.5.2
jieba==0.44
eng_to_ipa==0.0.3
openai-whisper==0.0.1
matplotlib==3.5.1
gradio==3.41.2
nltk==3.6.5
sudachipy==0.5.2
sudachidict-core==20210707
vocos==0.0.3
accelerate==0.5.1
pyannote.audio==1.1.1
onnxruntime==1.9.0
fastapi==0.68.2
uvicorn==0.15.0
pytest==6.2.5
googletrans==4.0.0-rc1
fastapi-cors==0.6.0
